In [30]:
code_loc = "/home/shi/WorkSpace/projects/scMultiNet_workspace/"
root = "/home/shi/WorkSpace/projects/scMultiNet_Data/"
save_root = root + "/Step_1_data/Dataset_netrin_ST_all_spot/"
import sys
sys.path.append(code_loc )

In [2]:
# start with a vocab list
# this related with the gene2vec model
#----> pre-trained part 
vocab_loc = code_loc +"/support_data/vocab_gene2vec_16906.pkl"
target_label = 'Ground_Truth' # the label to be predicted

In [3]:

csv_path = root+"/Step_0_data/2024_3_27_netrin_spatial_expression_data_unnormalised_allspots.csv"  #/home/shi/WorkSpace/projects/scMultiNet_Data/Step_0_data/2024_3_27_netrin_spatial_expression_data_unnormalised_allspots.csv
data_path = root +  "/Step_0_data/2024_03_27_EMT_netrin_ST_all_spots.h5ad"

In [4]:
import pandas as pd

df = pd.read_csv(csv_path)

In [5]:
df

,Unnamed: 0,SAMD11,NOC2L,KLHL17,PLEKHN1,HES4,ISG15,AGRN,C1orf159,TNFRSF18,...,DKC1,MPP1,FUNDC2,CMC4,MTCP1,VBP1,CLIC2,TMLHE,SPRY3,VAMP7
0,AAACTGCTGGCTCCAA-1_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,AAAGACCCAAGTCGCG-1_0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AAAGGGATGTAGCAAG-1_0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,AAAGTCACTGATGTAA-1_0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AAATACCTATAAGCAT-1_0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4278,TTGTTAGCAAATTCGA-1_3,3.0,5.0,0.0,1.0,11.0,0.0,13.0,0.0,0.0,...,2.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0
4279,TTGTTCAGTGTGCTAC-1_3,0.0,3.0,0.0,0.0,20.0,1.0,13.0,0.0,0.0,...,11.0,0.0,1.0,6.0,0.0,6.0,0.0,3.0,0.0,3.0
4280,TTGTTGTGTGTCAAGA-1_3,2.0,4.0,0.0,0.0,6.0,4.0,10.0,0.0,0.0,...,3.0,0.0,2.0,6.0,0.0,4.0,0.0,1.0,2.0,1.0
4281,TTGTTTCATTAGTCTA-1_3,4.0,5.0,2.0,0.0,4.0,1.0,6.0,0.0,0.0,...,2.0,0.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,1.0
4282,TTGTTTGTGTAAATTC-1_3,2.0,7.0,1.0,0.0,29.0,4.0,11.0,1.0,0.0,...,9.0,0.0,2.0,2.0,0.0,5.0,0.0,2.0,0.0,6.0

In [6]:
sample_id = df.iloc[:,0].values
gene_id = df.columns[1:].values
data_x = df.iloc[:,1:].values

print(data_x.shape, len(sample_id), len(gene_id))

import numpy as np
# confirm nan and inf in data_x
print(np.isnan(data_x).any(), np.isinf(data_x).any())
# set nan to 0
data_x = np.nan_to_num(data_x)

# normalize the data to 0-100
# 找到数据的最小值和最大值
min_val = np.min(data_x)
max_val = np.max(data_x)
print(min_val, max_val )
# 将数据归一化到 0 到 100 的范围
normalized_data_x = 100 * (data_x - min_val) / (max_val - min_val)
print(normalized_data_x.shape)
# create the adata matrix
import anndata
adata = anndata.AnnData(X = normalized_data_x, obs = pd.DataFrame(index = sample_id), var = pd.DataFrame(index = gene_id))
adata.obs["Ground_Truth"] = np.random.choice([0,1], adata.shape[0])
print(adata, adata.obs, adata.var, adata.X)

(4283, 12134) 4283 12134
False False
0.0 3518.0
(4283, 12134)
AnnData object with n_obs × n_vars = 4283 × 12134
    obs: 'Ground_Truth'                       Ground_Truth
AAACTGCTGGCTCCAA-1_0             0
AAAGACCCAAGTCGCG-1_0             1
AAAGGGATGTAGCAAG-1_0             0
AAAGTCACTGATGTAA-1_0             0
AAATACCTATAAGCAT-1_0             0
...                            ...
TTGTTAGCAAATTCGA-1_3             1
TTGTTCAGTGTGCTAC-1_3             0
TTGTTGTGTGTCAAGA-1_3             1
TTGTTTCATTAGTCTA-1_3             0
TTGTTTGTGTAAATTC-1_3             1

[4283 rows x 1 columns] Empty DataFrame
Columns: []
Index: [SAMD11, NOC2L, KLHL17, PLEKHN1, HES4, ISG15, AGRN, C1orf159, TNFRSF18, TNFRSF4, SDF4, B3GALT6, UBE2J2, SCNN1D, ACAP3, PUSL1, INTS11, CPTP, DVL1, MXRA8, AURKAIP1, CCNL2, ANKRD65, VWA1, ATAD3C, TMEM240, SSU72, FNDC10, MIB2, MMP23B, CDK11B, SLC35E2B, SLC35E2A, NADK, GNB1, CALML6, PRKCZ, FAAP20, SKI, MORN1, RER1, PEX10, PLCH2, PANK4, TNFRSF14, PRXL2B, ARHGEF16, MEGF6, TPRG1L, WRAP73, SMIM1, LRRC47, CEP104, DFFB, C1orf174, AJAP1, NPHP4, KCNAB2, RNF207, ICMT, GPR153, ACOT7, HES2, ESPN, TNFRSF25, PLEKHG5, NOL9, ZBTB48, KLHL21, PHF13, THAP3, DNAJC11, CAMTA1, VAMP3, PER3, PARK7, ERRFI1, SLC45A1, RERE, ENO1, SLC2A5, GPR157, H6PD, SPSB1, TMEM201, PIK3CD, CLSTN1, CTNNBIP1, LZIC, NMNAT1, RBP7, UBE4B, KIF1B, PGD, CENPS, DFFA, PEX14, CASZ1, SRM, EXOSC10, ...]

[12134 rows x 0 columns] [[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.02842524 0.         0.        ]
 ...
 [0.05685048 0.11370097 0.         ... 0.02842524 0.05685048 0.02842524]
 [0.11370097 0.14212621 0.05685048 ... 0.         0.         0.02842524]
 [0.05685048 0.19897669 0.02842524 ... 0.05685048 0.         0.17055145]]

In [7]:
#adata.write(data_path)

In [8]:
# check the data
import scanpy as sc
import pandas as pd
import numpy as np
adata = sc.read(data_path)

print(adata)
print(adata.obs.index)
print(adata.var.index)
print(f" negative values: {np.sum(adata.X<0)}")

AnnData object with n_obs × n_vars = 4283 × 12134
    obs: 'Ground_Truth'
Index(['AAACTGCTGGCTCCAA-1_0', 'AAAGACCCAAGTCGCG-1_0', 'AAAGGGATGTAGCAAG-1_0',
       'AAAGTCACTGATGTAA-1_0', 'AAATACCTATAAGCAT-1_0', 'AAATAGGGTGCTATTG-1_0',
       'AAATCCGATACACGCC-1_0', 'AAATTAACGGGTAGCT-1_0', 'AACCTCGCTTTAGCCC-1_0',
       'AACGATAATGCCGTAG-1_0',
       ...
       'TTGTAATCCGTACTCG-1_3', 'TTGTATCACACAGAAT-1_3', 'TTGTCGTTCAGTTACC-1_3',
       'TTGTGGCCCTGACAGT-1_3', 'TTGTGGTAGGAGGGAT-1_3', 'TTGTTAGCAAATTCGA-1_3',
       'TTGTTCAGTGTGCTAC-1_3', 'TTGTTGTGTGTCAAGA-1_3', 'TTGTTTCATTAGTCTA-1_3',
       'TTGTTTGTGTAAATTC-1_3'],
      dtype='object', length=4283)
Index(['SAMD11', 'NOC2L', 'KLHL17', 'PLEKHN1', 'HES4', 'ISG15', 'AGRN',
       'C1orf159', 'TNFRSF18', 'TNFRSF4',
       ...
       'DKC1', 'MPP1', 'FUNDC2', 'CMC4', 'MTCP1', 'VBP1', 'CLIC2', 'TMLHE',
       'SPRY3', 'VAMP7'],
      dtype='object', length=12134)
 negative values: 0

In [9]:
# adata.X 有多少nan
import numpy as np
from scipy.sparse import issparse

# 假设 adata.X 是你的稀疏矩阵
# 首先，检查它是否为稀疏矩阵
if issparse(adata.X):
    # 将稀疏矩阵转换为密集格式，然后计算 NaN 值的数量
    nan_count = np.isnan(adata.X.toarray()).sum()
else:
    # 如果 adata.X 不是稀疏矩阵，直接计算 NaN 值的数量
    nan_count = np.isnan(adata.X).sum()

print(f"NaN values in adata.X: {nan_count} with shape {adata.X.shape}")

NaN values in adata.X: 0 with shape (4283, 12134)

In [18]:

from scLLM.Dataset.paras import Dataset_para
# define pre-processing by follow original implementation of scBERT

from scLLM.Dataset.paras import Dataset_para
# define pre-processing by follow original implementation of scBERT 
dataset_para_cls = Dataset_para(
                            var_idx=None,
                            obs_idx="Ground_Truth",
                            vocab_loc=code_loc + "/Experiment/support_data/vocab_16k.json",
                            filter_gene_by_counts=False,
                            filter_cell_by_counts=0,
                            log1p=True,
                            log1p_base=2,

                            #
                            tokenize_name="scBERT",
                            cls_nb=5,
                            data_layer_name="X_log1p",
                            label_key = target_label,#"Ground_truth",#"Ground_truth",

                            test_size=None,#0.2, #use all data to inference
                            binarize=None, # not binarize use original label

                            )

dataset_para_reg = Dataset_para(
        vocab_loc=code_loc +"/Experiment/support_data/vocab_16k.json",
        var_idx = None,#"genes.gene_short_name",
        obs_idx="pseudotimes",
        filter_gene_by_counts=False,
        filter_cell_by_counts=200,
        log1p=True,
        log1p_base=2,

        tokenize_name="scBERT",
        cls_nb=1,
        data_layer_name="X_log1p",

        auto_map_str_labels=False,
        label_key = target_label,#"pseudotimes",

        test_size=None,#0.2, #use all data to inference
        binarize=None, # not binarize use original label for regression
    )

dataset_para = dataset_para_cls#dataset_para_cls
print(dataset_para)

Dataset_para(var_idx=None, obs_idx='Ground_Truth', vocab_loc='/home/shi/WorkSpace/projects/scMultiNet_workspace//Experiment/support_data/vocab_16k.json', gene_vocab=None, use_key='X', filter_gene_by_counts=False, filter_cell_by_counts=0, normalize_total=10000.0, result_normed_key='X_normed', log1p=True, result_log1p_key='X_log1p', log1p_base=2, subset_hvg=False, hvg_use_key=None, hvg_flavor='seurat_v3', binning=None, result_binned_key='X_binned', tokenize_name='scBERT', return_pt=True, append_cls=True, include_zero_gene=False, cls_token='<cls>', max_len=16000, pad_token='<pad>', pad_value=-2, cls_appended=True, mask_ratio=0.15, mask_value=-1, preprocessed_loc=None, data_layer_name='X_log1p', label_key='Ground_Truth', batch_label_key=None, cls_nb=5, binarize=None, bins=None, bin_min=None, bin_max=None, save_in_obs=True, auto_map_str_labels=True, map_dict=None, n_splits=1, test_size=None, random_state=2023, shuffle=True, sort_seq_batch=False)

In [19]:
# if this is the first time to run, need this block to init translate=True
# init preprocessor
from scLLM.Dataset.Reader import scReader
data_reader = scReader(dataset_para=dataset_para)
# init vocab
data_reader.init_vocab()

# load data
data_reader.load_adata(loc = data_path,translate=True)

## preprocess
data_reader.preprocess()

scLLM - INFO - Initializing preprocessor ...
scLLM - INFO - use default vocab from dataset_para
scLLM - INFO - load vocab from /home/shi/WorkSpace/projects/scMultiNet_workspace//Experiment/support_data/vocab_16k.json
scLLM - INFO - Load data from anndata object.
scLLM - DEBUG - In original adata with gene 12134
scLLM - DEBUG - In original adata with gene 12134
scLLM - DEBUG - processing 0/16906
scLLM - DEBUG - processing 2000/16906
scLLM - DEBUG - processing 4000/16906
scLLM - DEBUG - processing 6000/16906
scLLM - DEBUG - processing 8000/16906
scLLM - DEBUG - processing 10000/16906
scLLM - DEBUG - processing 12000/16906
scLLM - DEBUG - processing 14000/16906
scLLM - DEBUG - processing 16000/16906
scLLM - INFO - create anndata in scLLM format..
scLLM - DEBUG - restore anndata in scLLM format..
scLLM - INFO - Done.
scLLM - INFO - Preprocessing data with shape: (4283, 16906) ...
scLLM - INFO - Filtering cells by counts ...
scLLM - INFO - Filtered cells: 4283
scLLM - INFO - Normalizing total counts ...
scLLM - INFO - Log1p transforming ...
scLLM - INFO - Preprocessing finished.

In [20]:
print(data_reader.adata, data_reader.adata.X.shape)

AnnData object with n_obs × n_vars = 4283 × 16906
    obs: 'Ground_Truth', 'n_counts'
    uns: 'log1p'
    layers: 'X_normed', 'X_log1p' (4283, 16906)

In [21]:
# get layer X_log1p
data = data_reader.adata.layers["X_log1p"] 
from scipy.sparse import coo_matrix, csr_matrix
# set nan to 0
if isinstance(data, csr_matrix):
    # 使用 CSR 格式的稀疏矩阵可以直接通过 data.data 访问非零元素
    data.data[np.isnan(data.data)] = 0
    # 注意: 这里没有改变矩阵的稀疏结构，只是将非零元素中的 NaN 值替换为 0
    data.data[np.isinf(data.data)] = data.data.max()
else:
    # 如果 data 不是稀疏矩阵，可以直接使用 numpy 的方法
    data[np.isnan(data)] = 0
    data[np.isinf(data)] = data.max()

if issparse(data):
    # 将稀疏矩阵转换为密集格式，然后计算 NaN 值的数量
    nan_count = np.isnan(data.toarray()).sum()
else:
    # 如果 adata.X 不是稀疏矩阵，直接计算 NaN 值的数量
    nan_count = np.isnan(data).sum()

print(f"NaN values in adata.X: {nan_count}")
data_reader.adata.layers["X_log1p"]  = data

NaN values in adata.X: 0

In [22]:
# data <0 的个数
if issparse(data):
    # 将稀疏矩阵转换为密集格式，然后计算 NaN 值的数量
    nan_count = np.sum(data.toarray()<0)
else:
    # 如果 adata.X 不是稀疏矩阵，直接计算 NaN 值的数量
    nan_count = np.sum(data<0)

print(f"Negative values in adata.X: {nan_count}")

Negative values in adata.X: 0

In [23]:
print(data.shape)

(4283, 16906)

In [24]:
label_unique = data_reader.adata.obs[dataset_para.label_key].unique()
print(label_unique)
label_dict = {'fake_lable_0':0,'fake_lable_1':1}

[0 1]

In [25]:
# set fake label
#data_reader.adata.obs[dataset_para.label_key]
revert_dict = {v:k for k,v in label_dict.items()}
# map to str label
data_reader.adata.obs[dataset_para.label_key] = data_reader.adata.obs[dataset_para.label_key].map(revert_dict)

In [26]:
trainset,valset,weights = data_reader.postprocess()

# 输出数据集信息
print("trainset size: ",len(trainset))
print("valset size: ",len(valset)) if valset is not None else print("no valset")
print(label_dict)
print("weights: ",weights)

scLLM - INFO - Map string labels to int automatically.
scLLM - INFO - Mapping from {'fake_lable_0': 0, 'fake_lable_1': 1}
scLLM - INFO - Discritize label Ground_Truth in obs_names

trainset size:  4283
no valset
{'fake_lable_0': 0, 'fake_lable_1': 1}
weights:  None

In [27]:
trainset.sample_id = data_reader.adata.obs.index.to_list()

In [29]:
print(len(trainset.sample_id), len(trainset.label), trainset.data.shape)

4283 4283 (4283, 16906)

In [31]:
import dill
# 为trainset 添加其他labels

#target_task = f"/TrVal_dataset_GT_{target_stimulate}_{target_cellline}.pkl"
target_task = f"/TrVal_dataset_{target_label}.pkl"
loc = save_root + target_task
# 保存 trainset 到文件，并关联相应labels
with open(loc,"wb") as f:
    dill.dump([trainset,valset,weights,label_dict],f)